<img src="photo_2022-10-14_21-31-44.jpg" width="500"/>

In [ ]:
SELECT * 
FROM apartments 
WHERE price > (SELECT AVG(price) from apartments) and status = 'Not rented'
ORDER BY price;

<img src="photo_2022-10-14_21-43-56.jpg" width="500"/>
<img src="photo_2022-10-14_21-33-18.jpg" width="500"/>

In [ ]:
INSERT INTO Animals(name, type, country_id) 
VALUES ('Slim', 'Giraffe', 1);

SELECT 
    Animals.name, 
    Animals.type,
    Countries.country 
FROM Animals, Countries 
WHERE Animals.country_id = Countries.id
ORDER BY Animals.country_id DESC